<div data-role="module-unsubscribe" class="module unsubscribe-css__unsubscribe___2CDlR" role="module" data-type="unsubscribe"
  style="color:#444444;font-size:12px;line-height:20px;padding:16px 16px 16px 16px;text-align:center">
  <p style="font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:20px;text-align:left">
    This email was sent to <span class="footer-link">{{toEmail}}</span>. You have received this email in regards to the account creation, submission, or
    peer review process of a paper submitted to a journal published by {{ publisher }}.
  </p>
  <div class="Unsubscribe--addressLine">
    <p style="font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:20px;text-align:left">
      {{ address }}
    </p>
  </div>
  <p style="font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:20px;text-align:left">
  </p>
  <p style="font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:20px;text-align:left">
    {{{ privacy }}}
  </p>
  <p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:20px">
    <a class="Unsubscribe--unsubscribeLink" href="{{ unsubscribeLink }}">Unsubscribe</a>
  </p>
</div>
</td>
</tr>
</table>
<!--[if mso]>
                          </td></tr></table>
                          </center>
                          <![endif]-->
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</center>
</body>

</html>